.tri-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  shadow: 5px 5px black;
}

.tri-one {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid rgb(32, 177, 110);
  margin: 0 -20px;
  margin-top: 25px;
}

.tri-two {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid rgb(32, 177, 110);
  margin: 0 -20px;
}
  
.tri-three {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid rgb(32, 177, 110);
  margin: 0 -20px;
  margin-top: 25px;
}

.tri-four {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid rgb(32, 177, 110);
  margin: 0 -20px;
}

.tri-five {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid rgb(32, 177, 110);
  margin: 0 -20px;
  margin-top: 25px;
}
