.about-div {
  height: 100%;
  width: 100%;
}

.about-title {
  font-family: PT serif;
  color: white;
  font-size: 6vh;
  position: absolute;
  bottom: 84.5%;
  left: 40.5%;
}


.circle-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle1 {
  height: 250px;
  width: 250px;
  background-color: #FFC77E;
  border-radius: 50%;
  position: absolute;
  right: 175%;
  z-index: 1;
  bottom: -5px;
}
.circle2 {
  height: 250px;
  width: 250px;
  background-color: #FFB554;
  border-radius: 50%;
  position: absolute;
  right: 85%;
  z-index: 2;
  top: 50px;
}
.circle2A {
  height: 250px;
  width: 250px;
  background-color: #FFB554;
  border-radius: 50%;
  position: absolute;
  right: 85%;
  z-index: 2;
  bottom: 40px;
}
.circle2B {
  height: 160px;
  width: 250px;
  background-color: #FFB554;
  border-radius: 5%;
  position: absolute;
  right: 85%;
  z-index: 2;
}
.circle3 {
  height: 250px;
  width: 250px;
  background-color: #FFA42E;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 100px;
}
.circle3A {
  height: 250px;
  width: 250px;
  background-color: #FFA42E;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  bottom: 70px;
}
.circle3B {
  height: 235px;
  width: 250px;
  background-color: #FFA42E;
  border-radius: 5%;
  position: absolute;
  z-index: 3;
}
.circle4 {
  height: 250px;
  width: 250px;
  background-color: #FFB554;
  border-radius: 50%;
  position: absolute;
  left: 85%;
  z-index: 2;
  top: 50px;
}
.circle4A {
  height: 250px;
  width: 250px;
  background-color: #FFB554;
  border-radius: 50%;
  position: absolute;
  left: 85%;
  z-index: 2;
  bottom: 40px;
}
.circle4B {
  height: 160px;
  width: 250px;
  background-color: #FFB554;
  border-radius: 5%;
  position: absolute;
  left: 85%;
  z-index: 2;
}
.circle5 {
  height: 250px;
  width: 250px;
  background-color: #FFC77E;
  border-radius: 50%;
  position: absolute;
  left: 175%;
  z-index: 1;
  bottom: -5px;
}
.pic-logo {
  height: 200px;
  width: auto;
  position: relative;
  z-index: 5;
  top: 125px;
}